<% @tweeets.each do |tweeet| %>
<div class="row">
  <div class="col-sm-2">

  <%= gravatar_image_tag(tweeet.user.email, size: 64, alt: tweeet.user.name, class: "rounded-circle mr-4") %>
  </div>
  <div class="col-sm-9">
    <p class="twit-author">
      <strong><%= tweeet.user.name %></strong>
      <span class="text-gray">@<%= tweeet.user.username %> . <em><%= distance_of_time_in_words(tweeet.created_at, Time.now) %> ago</em></span>
    </p>
    <p class="twit-content">
      <%= tweeet.tweeet %><br>
    </p>

    <div class="twit-content-icons d-flex justify-content-between">
      <a href="#" class="twit-content-icons__links">
        <svg viewBox="0 0 24 24" class="twit-content-icons__svg">
          <g>
            <path
              d="M14.046 2.242l-4.148-.01h-.002c-4.374 0-7.8 3.427-7.8 7.802 0 4.098 3.186 7.206 7.465 7.37v3.828c0 .108.044.286.12.403.142.225.384.347.632.347.138 0 .277-.038.402-.118.264-.168 6.473-4.14 8.088-5.506 1.902-1.61 3.04-3.97 3.043-6.312v-.017c-.006-4.367-3.43-7.787-7.8-7.788zm3.787 12.972c-1.134.96-4.862 3.405-6.772 4.643V16.67c0-.414-.335-.75-.75-.75h-.396c-3.66 0-6.318-2.476-6.318-5.886 0-3.534 2.768-6.302 6.3-6.302l4.147.01h.002c3.532 0 6.3 2.766 6.302 6.296-.003 1.91-.942 3.844-2.514 5.176z"
            ></path>
          </g>
        </svg>
        <%= rand(1..50) %>
      </a>

      <a href="#" class="twit-content-icons__links">
        <svg viewBox="0 0 24 24" class="twit-content-icons__svg">
          <g>
            <path
              d="M23.77 15.67c-.292-.293-.767-.293-1.06 0l-2.22 2.22V7.65c0-2.068-1.683-3.75-3.75-3.75h-5.85c-.414 0-.75.336-.75.75s.336.75.75.75h5.85c1.24 0 2.25 1.01 2.25 2.25v10.24l-2.22-2.22c-.293-.293-.768-.293-1.06 0s-.294.768 0 1.06l3.5 3.5c.145.147.337.22.53.22s.383-.072.53-.22l3.5-3.5c.294-.292.294-.767 0-1.06zm-10.66 3.28H7.26c-1.24 0-2.25-1.01-2.25-2.25V6.46l2.22 2.22c.148.147.34.22.532.22s.384-.073.53-.22c.293-.293.293-.768 0-1.06l-3.5-3.5c-.293-.294-.768-.294-1.06 0l-3.5 3.5c-.294.292-.294.767 0 1.06s.767.293 1.06 0l2.22-2.22V16.7c0 2.068 1.683 3.75 3.75 3.75h5.85c.414 0 .75-.336.75-.75s-.337-.75-.75-.75z"
            ></path>
          </g>
        </svg>
        <%= rand(1..1000) %>
      </a>

      <a href="#" class="twit-content-icons__links">
        <svg viewBox="0 0 24 24" class="twit-content-icons__svg">
          <g>
            <path
              d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"
            ></path>
          </g>
        </svg>
        <% likes = rand(1..10000) %>
        <%= "#{likes/1000}.#{(likes%1000).to_s.chars.first}k" if likes > 999 %>
      </a>
      <% if tweeet.user == current_user %>
      <%= link_to tweeet, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?"}, title: "Delete Tweeet" do %>
        
        <svg class="twit-content-icons__svg"  viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m407.777 160.703h-106.691c3.961-3.479 7.767-7.151 11.374-11.02 15.373-16.491 26.797-35.603 33.954-56.805 2.176-6.448.339-13.637-4.68-18.315l-35.858-33.43c-3.029-2.825-7.776-2.657-10.6.372-2.825 3.03-2.658 7.775.371 10.6l35.859 33.43c.718.669.99 1.668.694 2.545-6.47 19.169-16.804 36.454-30.714 51.374-7.391 7.928-15.648 14.992-24.546 20.996-.117.079-.225.168-.336.252h-40.181l-60.221-56.142c18.702-8.547 35.342-20.563 49.505-35.754 14.16-15.19 24.98-32.63 32.199-51.886l12.082 11.264c3.031 2.826 7.776 2.658 10.601-.372s2.657-7.775-.372-10.6l-14.858-13.85c-3.104-2.894-7.42-4.013-11.537-2.99-4.109 1.019-7.391 4.013-8.778 8.008-6.5 18.709-16.697 35.599-30.308 50.2-13.613 14.601-29.747 25.956-47.954 33.75-3.889 1.665-6.646 5.148-7.374 9.318-.73 4.181.687 8.405 3.791 11.299l51.228 47.757h-48.985c-4.143 0-7.5 3.358-7.5 7.5s3.357 7.5 7.5 7.5h242.335c4.136 0 7.5 3.364 7.5 7.5v26.153c0 4.136-3.364 7.5-7.5 7.5h-303.554c-4.136 0-7.5-3.364-7.5-7.5v-26.153c0-4.136 3.364-7.5 7.5-7.5h24.116c4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5h-24.116c-12.406 0-22.5 10.093-22.5 22.5v26.153c0 12.407 10.094 22.5 22.5 22.5h3.062l25.85 241.989c2.325 21.752 20.573 38.154 42.447 38.154h160.909c21.874 0 40.123-16.402 42.447-38.154l25.85-241.989h2.989c12.406 0 22.5-10.093 22.5-22.5v-26.153c0-12.407-10.093-22.501-22.5-22.501zm-44.052 313.567-6.99-6.99 8.753-8.753c.001 0-1.642 15.078-1.763 15.743zm-241.354-242.413h25.944l-13.502 13.502-12.316-12.315zm262.731 43.06-2.698 25.263-5.646 5.646-19.627-19.627 19.627-19.627zm-242.789 143.628-2.901-27.155 15.028 15.028zm-7.5-151.972 19.627 19.627-19.627 19.627-5.082-5.07-2.809-26.293zm150.847-30.63 19.627 19.627-12.887 12.887c-6.08-2.95-12.569-5.184-19.357-6.594l-6.652-6.652zm-29.66 176.533c-37.871 0-68.681-30.81-68.681-68.681s30.81-68.681 68.681-68.681 68.681 30.81 68.681 68.681-30.81 68.681-68.681 68.681zm-119.523-48.563-3.719-34.817 2.055-2.055 19.268 19.268zm8.943-47.48 19.627-19.627 14.042 14.042c-2.104 4.893-3.748 10.026-4.891 15.344l-9.51 9.51zm160.193-39.974 10.282-10.282 20.022 20.022-10.669 10.669c-5.346-7.862-11.997-14.766-19.635-20.409zm-67.216-14.466c-6.69 1.438-13.086 3.673-19.081 6.61l-13.032-13.033 19.627-19.627 19.268 19.268zm-32.261 14.645c-7.617 5.67-14.241 12.601-19.559 20.485l-10.923-10.923 20.022-20.022zm-41.089-1.046-19.627-19.627 20.022-20.022 19.627 19.627zm-19.627 100.592 19.269-19.269 11.249 11.208c1.27 4.17 2.849 8.205 4.726 12.073l-15.615 15.615zm43.245 17.224c5.643 7.638 12.546 14.289 20.409 19.635l-13.398 13.398-20.022-20.022zm34.093 27.164c2.885 1.254 5.851 2.353 8.892 3.28l13.528 13.553-19.269 19.269-19.627-19.627zm33.028 27.44 19.268 19.268-19.269 19.269-19.268-19.268zm10.607-10.607 13.38-13.389c3.137-.931 6.202-2.032 9.174-3.31l16.341 16.341-19.627 19.627zm36.279-24.188c7.884-5.318 14.815-11.942 20.485-19.559l12.759 12.759-20.022 20.022zm28.52-32.738c2.019-4.121 3.698-8.433 5.025-12.898l10.665-10.665 19.268 19.268-19.626 19.626zm41.529 10.348-3.009 28.171-12.581-12.581zm2.826-26.46-18.058-18.058 19.268-19.269 2.509 2.509zm-28.665-28.665-8.951-8.951c-1.169-5.627-2.914-11.043-5.154-16.197l13.747-13.747 19.627 19.627zm-.359-60.109-20.022-20.022 19.627-19.627 20.022 20.022zm-30.629-30.63-13.107-13.107h26.213zm-60.109-.358-12.748-12.748h25.496zm-60.109.358-13.106-13.107h26.213zm-49.032 214.126 8.191 8.191-6.564 6.564c-.086-.526-1.627-14.755-1.627-14.755zm-1.223-22.437 19.627-19.627 20.022 20.022-19.627 19.627zm50.255 11.002 19.627 19.627-19.626 19.626-19.627-19.627zm11.122 49.346 19.112-19.112 19.112 19.112zm59.75 0 19.113-19.113 19.112 19.113zm29.72-29.72 19.627-19.627 19.627 19.627-19.627 19.627zm30.233-30.234 20.022-20.022 19.627 19.627-20.022 20.022zm50.257-191.687-13.502-13.502h26.446l-.067.624zm-221.532 242.745 10.217-10.216 19.113 19.112h-8.974c-8.016 0-15.28-3.397-20.356-8.896zm181.265 8.896h-9.476l19.113-19.113 10.474 10.474c-5.063 5.347-12.222 8.639-20.111 8.639z"/><path d="m234.191 352.962-5.608 3.317c-1.777-3.879-2.705-8.098-2.705-12.484 0-16.609 13.513-30.122 30.122-30.122 4.143 0 7.5-3.358 7.5-7.5s-3.357-7.5-7.5-7.5c-24.881 0-45.122 20.242-45.122 45.122 0 7.005 1.656 13.918 4.757 20.141l-5.333 3.154c-3.095 1.83-2.391 6.497 1.106 7.333l17.836 4.264c2.623.627 5.27-.939 5.984-3.539l4.856-17.684c.952-3.467-2.798-6.332-5.893-4.502z"/><path d="m302.106 315.769-17.836-4.264c-2.623-.627-5.27.939-5.984 3.539l-4.856 17.684c-.952 3.467 2.798 6.333 5.893 4.502l5.222-3.088c1.04 3.075 1.577 6.32 1.577 9.653 0 16.358-13.302 29.869-29.651 30.119-4.142.063-7.448 3.472-7.385 7.613.062 4.103 3.408 7.386 7.497 7.386.038 0 .077 0 .116-.001 24.495-.374 44.423-20.613 44.423-45.117 0-6.066-1.188-11.943-3.476-17.401l5.566-3.292c3.095-1.83 2.392-6.497-1.106-7.333z"/></g></svg>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="spacer border-top mt-4 mb-4"></div>
<% end %>