



<%= render "devise/shared/reg_ui" %>  
<h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  

        <div class="form-group">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name" %>
        </div>

        <div class="form-group">
        <%= f.text_field :username, autocomplete: "username", class: "form-control", placeholder: "Username" %>
        </div>

        <div class="form-group">
        <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "Email" %>
        </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

        <div class="form-group">

        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
        </div>

          <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, class: "form-control", placeholder: "current password to confirm your changes" %>
        </div>


        <%= f.submit "Update", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      <% end %>

      <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>


        </div>

      </div>
  </div>
</div>
