<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-md-3">
      <div class="left-side">
        <%= render 'left_sidebar' %>
      </div>
    </div>
    <div class="col-md-6 border-right border-left">
        <%= render 'twit_section' %>
         <div class="container mt-3">
            <%= render 'twits' %>
            <%= render 'twits' %>
         </div>
    </div>
    <div class="col-md-3">
      <aside class="right_sidebar">
        <%= render 'right_sidebar' %>
      </aside>

    </div>
  </div>
</div>